<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mychatproj.mapper.ChatMapper">

	<select id="getSession_no" resultType="com.example.mychatproj.model.Member">
		select member_no
		
		from member 
		
		where member_id=#{member_id}			
	</select>
	
		<resultMap id="JoinChatroom_MemberRM" type="com.example.mychatproj.model.Chatroom_Member">
		<id property="chatroom_member_no" column="chatroom_member_no" />
		<result property="chatroom_no" column="chatroom_no" />
		<result property="member_no" column="member_no" />
		
        <!-- 1 : 1 -->
		<collection javaType="Chatroom" property="chatroom">
			<id property="chatroom_no" column="chatroom_no" />
			<result property="chatroom_name" column="chatroom_name" />
		</collection>
	</resultMap>
	<select id="getchatroomlist" resultMap="JoinChatroom_MemberRM">
		select chatroom_member_no, m.chatroom_no, member_no, chatroom_name 
		
		from mychatproj.chatroom_member as m inner join mychatproj.chatroom as n
		
		on m.chatroom_no = n.chatroom_no
		
		where m.member_no=#{member_no};			
	</select>	
	
	<select id="getChatroom_no" resultType="com.example.mychatproj.model.Chatroom">
		select chatroom_no 
		
		from chatroom
		
		order by chatroom_no desc
	</select>
	<insert id="insertChatroom" parameterType="com.example.mychatproj.model.Chatroom">
		insert into chatroom(chatroom_no, chatroom_name)
		
		values (  #{chatroom.chatroom_no} , 
		          #{chatroom.chatroom_name}   )
	</insert>
	<insert id="insertChatroom_Member" parameterType="com.example.mychatproj.model.Chatroom_Member">
		insert into chatroom_member(chatroom_no, member_no)
		
		values (  #{chatroom_member.chatroom_no} , 
		          #{chatroom_member.member_no}   )	
	</insert>
	
	<select id="getchatroomMemberlistAll" resultType="com.example.mychatproj.model.Chatroom_Member">
		select chatroom_member_no, chatroom_no, member_no
		
		from chatroom_member	
	</select>
	<select id="getincludeMemberlist" resultType="com.example.mychatproj.model.Chatroom_Member">
		select chatroom_member_no, chatroom_no, member_no
		
		from chatroom_member
		
		where chatroom_no=#{chatroom_no}
	</select>
	
	<resultMap id="JoinmemberlistinfoRM" type="com.example.mychatproj.model.Chatroom_Member">
		<id property="chatroom_member_no" column="chatroom_member_no" />
		<result property="chatroom_no" column="chatroom_no" />
		<result property="member_no" column="member_no" />
		
		<collection javaType="Chatroom" property="chatroom">
			<id property="chatroom_no" column="chatroom_no" />
			<result property="chatroom_name" column="chatroom_name" />
		</collection>
		<collection javaType="Member" property="member">
			<id property="member_no" column="member_no" />
			<result property="member_id" column="member_id" />
			<result property="member_pwd" column="member_pwd" />
			<result property="member_name" column="member_name" />
			<result property="member_email" column="member_email" />
			<result property="member_phone" column="member_phone" />
		</collection>
		<collection javaType="Member_profileimg" property="member_profileimg">
			<id property="member_profileimg_no" column="member_no" />
			<result property="member_no" column="member_no" />
			<result property="member_profileimg_filename" column="member_profileimg_filename" />
			<result property="member_profileimg_original_filename" column="member_profileimg_original_filename" />
			<result property="member_profileimg_url" column="member_profileimg_url" />
		</collection>
	</resultMap>
	<select id="memberlistinfo" resultMap="JoinmemberlistinfoRM">
		select chatroom_member_no, m.chatroom_no, chatroom_name,
		                           m.member_no, member_id, member_pwd, member_name, member_email, member_phone,
		                           member_profileimg_filename, member_profileimg_original_filename, member_profileimg_url
		
		from mychatproj.chatroom_member as m 
		
		inner join mychatproj.chatroom as n
		on m.chatroom_no = n.chatroom_no
		
		inner join member as o
		on m.member_no = o.member_no
		
		inner join member_profileimg as p
		on o.member_no = p.member_no
		
		where m.chatroom_no=#{chatroom_no};			
	</select>	
	
	<insert id="insertLog" parameterType="com.example.mychatproj.model.Chatlog">
		insert into chatlog(member_no, chatroom_no, chatlog_log, chatlog_time, chatlog_division)
		
		values (  #{chatlog.member_no} , 
		          #{chatlog.chatroom_no} ,
		          #{chatlog.chatlog_log} ,
		          #{chatlog.chatlog_time},
		          #{chatlog.chatlog_division}    )
	</insert>
	
	<insert id="insertchatfile"  parameterType="com.example.mychatproj.model.Chat_filelist">
		insert into chat_filelist(chatroom_no, member_no, chat_filelist_filename, chat_filelist_original_filename,
		                          chat_filelist_time, chat_filelist_url)
		
		values (  #{chat_filelist.chatroom_no} , 
		          #{chat_filelist.member_no} ,
		          #{chat_filelist.chat_filelist_filename} ,
		          #{chat_filelist.chat_filelist_original_filename},
		          #{chat_filelist.chat_filelist_time},
		          #{chat_filelist.chat_filelist_url}    )
	</insert>

	<resultMap id="JoinLogRM" type="com.example.mychatproj.model.Chatlog">
		<id property="chatlog_no" column="chatlog_no" />
		<result property="member_no" column="member_no" />
		<result property="chatroom_no" column="chatroom_no" />
		<result property="chatlog_log" column="chatlog_log" />
		<result property="chatlog_time" column="chatlog_time" />
		<result property="chatlog_division" column="chatlog_division" />
		
		<collection javaType="Member" property="member">
			<id property="member_no" column="member_no" />
			<result property="member_id" column="member_id" />
			<result property="member_pwd" column="member_pwd" />
			<result property="member_name" column="member_name" />
			<result property="member_email" column="member_email" />
			<result property="member_phone" column="member_phone" />
		</collection>
		<collection javaType="Member_profileimg" property="member_profileimg">
			<id property="member_profileimg_no" column="member_no" />
			<result property="member_no" column="member_no" />
			<result property="member_profileimg_filename" column="member_profileimg_filename" />
			<result property="member_profileimg_original_filename" column="member_profileimg_original_filename" />
			<result property="member_profileimg_url" column="member_profileimg_url" />
		</collection>
		<collection javaType="Chat_filelist" property="chat_filelist">
			<id property="chat_filelist_no" column="chat_filelist_no" />
			<result property="chatroom_no" column="chatroom_no" />
			<result property="member_no" column="member_no" />
			<result property="chat_filelist_filename" column="chat_filelist_filename" />
			<result property="chat_filelist_original_filename" column="chat_filelist_original_filename" />
			<result property="chat_filelist_time" column="chat_filelist_time" />
			<result property="chat_filelist_url" column="chat_filelist_url" />
		</collection>
	</resultMap>
	
	<select id="getchatlog" resultMap="JoinLogRM">
		select chatlog_no, m.member_no, m.chatroom_no, chatlog_log, chatlog_time, chatlog_division,
		                   member_id, member_pwd, member_name, member_email, member_phone,
                           member_profileimg_no, member_profileimg_filename, member_profileimg_original_filename,
						   member_profileimg_url,
						   chat_filelist_no, chat_filelist_filename, chat_filelist_original_filename,
						   chat_filelist_time, chat_filelist_url
		
		from chatlog as m 
		
		left join member as n
		on m.member_no = n.member_no
		
		left join member_profileimg as o
		on m.member_no = o.member_no
		
		left join mychatproj.chat_filelist as p
		on m.chatlog_log = p.chat_filelist_filename
		
		where m.chatroom_no=#{chatroom_no}		
	</select>	
	
	<select id="getchatlist_filename" resultType="com.example.mychatproj.model.Chat_filelist">
		select chat_filelist_filename
		
		from chat_filelist
		
		where chatroom_no=#{chatroom_no} and member_no=#{member_no} and chat_filelist_time=#{chat_filelist_time} and 
		      chat_filelist_original_filename=#{chat_filelist_original_filename} 
	</select>
</mapper>
