<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mychatproj.mapper.ChatMapper">

	<select id="getSession_no" resultType="com.example.mychatproj.model.Member">
		select member_no
		
		from member 
		
		where member_id=#{member_id}			
	</select>
	
		<resultMap id="JoinChatroom_MemberRM" type="com.example.mychatproj.model.Chatroom_Member">
		<id property="chatroom_member_no" column="chatroom_member_no" />
		<result property="chatroom_no" column="chatroom_no" />
		<result property="member_no" column="member_no" />
		
        <!-- 1 : 1 -->
		<collection javaType="Chatroom" property="chatroom">
			<id property="chatroom_no" column="chatroom_no" />
			<result property="chatroom_name" column="chatroom_name" />
		</collection>
	</resultMap>
	<select id="getchatroomlist" resultMap="JoinChatroom_MemberRM">
		select chatroom_member_no, m.chatroom_no, member_no, chatroom_name 
		
		from mychatproj.chatroom_member as m inner join mychatproj.chatroom as n
		
		on m.chatroom_no = n.chatroom_no
		
		where m.member_no=#{member_no};			
	</select>	
	
	<select id="getChatroom_no" resultType="com.example.mychatproj.model.Chatroom">
		select chatroom_no 
		
		from chatroom
		
		order by chatroom_no desc
	</select>
	<insert id="insertChatroom" parameterType="com.example.mychatproj.model.Chatroom">
		insert into chatroom(chatroom_no, chatroom_name)
		
		values (  #{chatroom.chatroom_no} , 
		          #{chatroom.chatroom_name}   )
	</insert>
	<insert id="insertChatroom_Member" parameterType="com.example.mychatproj.model.Chatroom_Member">
		insert into chatroom_member(chatroom_no, member_no)
		
		values (  #{chatroom_member.chatroom_no} , 
		          #{chatroom_member.member_no}   )	
	</insert>
	
	<select id="getchatroomMemberlistAll" resultType="com.example.mychatproj.model.Chatroom_Member">
		select chatroom_member_no, chatroom_no, member_no
		
		from chatroom_member	
	</select>
	<select id="getincludeMemberlist" resultType="com.example.mychatproj.model.Chatroom_Member">
		select chatroom_member_no, chatroom_no, member_no
		
		from chatroom_member
		
		where chatroom_no=#{chatroom_no}
	</select>
</mapper>
